<footer id="footer" class="footer accent-background">

    <div class="container">
      <div class="copyright text-center ">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Mehmet Cakmak</strong> <span>All Rights Reserved</span></p>
      </div>
      <div class="social-links d-flex justify-content-center">
        <a href="https://www.instagram.com/mehmet.ckm1/"><i class="bi bi-instagram"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100028043138891"><i class="bi bi-facebook"></i></a>
        <a href="https://github.com/mehmetc44"><i class="bi bi-github"></i></a>
        <a href="https://www.linkedin.com/in/mehmet-çakmak-737196241"><i class="bi bi-linkedin"></i></a>
      </div>
      <div class="credits">
        <a href="https://bootstrapmade.com/">Mehmet Çakmak Tarafından Tasarlandı</a>
      </div>
    </div>
  </footer>