@model ProjectCard
<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-@Model.Category.ToLower().Replace(" ", "-")">
              <img src="~/img/portfolio/@Model.ThumbnailImage" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>@Model.Title</h4>
                <p>@Model.ShortDescription</p>
                <a href="~/img/portfolio/@Model.ThumbnailImage" title="@Model.Title" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a asp-controller="Project" asp-action="Details" asp-route-id="@Model.Id" 
   title="More Details" class="details-link">
    <i class="bi bi-link-45deg"></i>
</a>
              </div>
            </div><!-- End Portfolio Item -->