
<div class="progress">
    <span class="skill"><span>@Model.SkillName</span> <i class="val">@Model.Proficiency%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="@Model.Proficiency" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div><!-- End Skills Item -->