<div class="card p-3 h-100">
    <div class="card-body">

        <h5 class="card-title mb-4">Görseller & Kişisel Bilgiler</h5>

        <!-- Kapak Görseli -->


        <!-- Ad Soyad -->
        <div class="mb-3">
            <label for="fullName" class="form-label">Ad Soyad</label>
            <input type="text" name="FullName" class="form-control" id="fullName" value="Mehmet Çakmak">
        </div>

        <!-- Email -->
        <div class="mb-3">
            <label for="email" class="form-label">E-Mail</label>
            <input type="email" name="Email" class="form-control" id="email"     placeholder="contact@example.com">
        </div>

        <!-- Adres -->
        <div class="mb-3">
            <label for="address" class="form-label">Adres</label>
            <input type="text" name="Address" class="form-control" id="address"           placeholder="Mevlana mah.">
        </div>

        <!-- Sosyal Medya -->
        <div class="mb-3">
            <label class="form-label">Sosyal Medya</label>

            <div class="d-flex flex-wrap gap-2">

                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#socialModal">
                    <i class="bi bi-telegram"></i>
                </button>

                <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal"
                        data-bs-target="#socialModal">
                    <i class="bi bi-github"></i>
                </button>

                <button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal"
                        data-bs-target="#socialModal">
                    <i class="bi bi-linkedin"></i>
                </button>

                <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal"
                        data-bs-target="#socialModal">
                    <i class="bi bi-instagram"></i>
                </button>

                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal"
                        data-bs-target="#socialModal">
                    <i class="bi bi-medium"></i>
                </button>

            </div>

            <small class="text-muted d-block mt-1">
                Düzenlemek için ikonlara tıklayın
            </small>
        </div>

    </div>
</div>
