<div class="modal fade" id="socialModal" tabindex="-1" aria-labelledby="socialModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="socialModalLabel"><i class="bi bi-share"></i> Sosyal Medya Linkleri</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
            </div>
            <div class="modal-body">
                <div class="row g-2">
                    <div class="col-12 mb-2">
                        <label for="telegram" class="form-label"><i class="bi bi-telegram"></i> Telegram</label>
                        <input type="text" name="Telegram" class="form-control form-control-sm" id="telegram"
                               placeholder="sdf">
                    </div>
                    <div class="col-12 mb-2">
                        <label for="github" class="form-label"><i class="bi bi-github"></i> GitHub</label>
                        <input type="text" name="Github" class="form-control form-control-sm" id="github"
                               placeholder="github.com/kullanici">
                    </div>
                    <div class="col-12 mb-2">
                        <label for="linkedin" class="form-label"><i class="bi bi-linkedin"></i> LinkedIn</label>
                        <input type="text" name="LinkedIn" class="form-control form-control-sm" id="linkedin"
                               placeholder="linkedin.com/in/kullanici">
                    </div>
                    <div class="col-12 mb-2">
                        <label for="instagram" class="form-label"><i class="bi bi-instagram"></i> Instagram</label>
                        <input type="text" name="Instagram" class="form-control form-control-sm" id="instagram"
                               placeholder="instagram.com/kullanici">
                    </div>
                    <div class="col-12 mb-2">
                        <label for="medium" class="form-label"><i class="bi bi-medium"></i> Medium</label>
                        <input type="text" name="Medium" class="form-control form-control-sm" id="medium"
                               placeholder="medium.com/sad">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" data-bs-dismiss="modal">Kaydet</button>
            </div>
        </div>
    </div>
</div>