@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model Portfolio.WebUI.Models.PersonalInfo.PersonalInfoViewModel
<div class="container py-5">
    <div class="row mb-4">
        <div class="col-12">
            <h3><i class="bi bi-person-gear"></i> Ana sayfa</h3>
            <p class="text-muted">Ana sayfa giriş görseli, kişisel bilgiler ve yeteneklerinizi buradan yönetin.</p>
        </div>
    </div>

    <partial name="Partials/Admin/Index/_HeroAndProfile" model="@Model"/>

    <form id="aboutMeForm" asp-controller="Admin" asp-action="UpdatePersonalInfo" enctype="multipart/form-data">
        <div class="row">
            
            <div class="col-lg-4 mb-4">
                <partial name="Partials/Admin/Index/_PersonalInfo" />
            </div>

            <div class="col-lg-8">
                <partial name="Partials/Admin/Index/_BiographyTabs" />
                
                <partial name="Partials/Admin/Index/_Skills" />

                <div class="d-flex justify-content-end mt-4">
                    <button type="submit" id="saveChangesBtn" class="btn btn-primary px-4" disabled>
                        Tüm Değişiklikleri Kaydet
                    </button>
                </div>
            </div>

        </div>

        <partial name="Modals/Admin/_SocialMediaLinksEditModal" />
    </form>

    <partial name="Modals/Admin/_UploadProfileImageModal" />
    <partial name="Modals/Admin/_UploadHeroImageModal" />

</div>

@section Scripts {
    <script src="~/js/Admin/index.js"></script>
}